<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/database.css">
        <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">
        <title>IGDB - My Profile</title>
    </head>
<body>

<div class = "header">
    <!--Header image here-->
    <img src="images/IGDB.png" height="75" width="200">
    <div id ="links">
        <a href ="/"> Home</a> 
        <a href ="/database"> Database</a> 
        <a href="/login">Sign In/Register</a>
                <a href="/about">About</a>

      <form method="GET" action="search" id = "search">
          <input type="search" name="query" placeholder="Search Game Titles or Users.."><br>
          <button type="submit" value="Search">Search</button>
          <select name="search_select">
                            <option value="user">Users</option>
                            <option value="game">Games</option>
              </select>
      </form>
    </div>
  </div>

<div class = "page"> 
  <div class = "nes-container is-rounded" id ="search_bar">
    <button id="addnew">Add New</button>
    <h3>Search</h3>
    <p>Name: </p>
    <input type = "search">
    <br>
    <br>
    <h3>Tags:</h3>
    <form>
    <table>
    <tr>
      <th><input type="checkbox" name="genre_01" value="action">
      <label for="genre_01">Action</label><br></th>
      <th><input type="checkbox" name="genre_02" value="adventure">
      <label for="genre_02">Adventure</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_03" value="arcade">
      <label for="genre_03">Arcade</label><br></th>
      <th><input type="checkbox" name="genre_04" value="beatemup">
      <label for="genre_04">Beat'em up</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_05" value="casual">
      <label for="genre_05">Casual</label><br></th>
      <th><input type="checkbox" name="genre_06" value="competitive">
      <label for="genre_06">Competitive</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_07" value="cooperative">
      <label for="genre_07">Coop</label><br></th>
      <th><input type="checkbox" name="genre_08" value="fighting">
      <label for="genre_08">Fighting</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_09" value="firstperson">
      <label for="genre_09">FPerson</label><br></th>
      <th><input type="checkbox" name="genre_10" value="horror">
      <label for="genre_10">Horror</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_11" value="rts">
      <label for="genre_11">RTS</label><br></th>
      <th><input type="checkbox" name="genre_12" value="rtt">
      <label for="genre_12">RTT</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_13" value="rpg">
      <label for="genre_13">RPG</label><br></th>
      <th><input type="checkbox" name="genre_14" value="roguelike">
      <label for="genre_14">Roguelike</label><br></th>
    </tr>
    <tr>
      <th><input type="checkbox" name="genre_15" value="simulation">
      <label for="genre_15">Sim</label><br></th>
      <th><input type="checkbox" name="genre_16" value="shooter">
      <label for="genre_16">Shooter</label><br></th>
    </tr>
      <br>
    </table>
    </form>
      <input type="submit" value="Submit">
    
    <br>
    <p></p>
  </div>
  <div id = "insertion_point" class="nes-container is-rounded">
      <div class = "gamecard">
        <form method="POST">
          <a href="/game"><h3 id="game_title">Game Title here</h3></a>
          <b>Genre:</b> <p id = "game_genre">All of them</p>
          <b>Publisher:</b> <p id ="game_dev">EABethsoft</p>
          <b>Developer:</b> <p id ="game_dev">EABethsoft</p>
          <b>Date Released:</b> <p id ="game_date">August 2020</p>

          <button type="submit" formaction="/db_delete">Delete</button>
        </form>
        <button class="edit_btn">Edit</button>
      </div>
  </div>

      <div id="makenew" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class = "forms">
            <div class ="form_title"><h1>Add new Game</h1></div>
              <form class = "form_form" id = "form_form" method="POST" action="database">
                <p>Title</p>
                <input type = "text" id = "play_title" placeholder = "Title" name="title">
                <p>Genre</p>
                <input type = "text" id = "play_title" placeholder = "Genre" name="genre">
                <p>Publisher</p>
                <input type = "text" id = "play_title" placeholder = "Publisher" name="publisher">
                <p>Developer</p>
                <input type = "text" id = "play_title" placeholder = "Developer" name="developer">
                <p>Date Released</p>
                <input type = "date" id = "play_title" placeholder = "2020" name="year">
                <p>Description</p>
                <textarea name="description" rows="4" cols="43"></textarea>
                <br><button id = "submit">Submit</button>
              </form>
              <br>
            </div>
          </div>
        </div> 
      </div>
      <div id="edit" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close_edit">&times;</span>
          <div class = "forms">
            <div class ="form_title"><h1>Edit Game</h1></div>
              <form class = "form_form" id = "form_form" method="POST" action="db_edit">
                <p>Title</p>
                <input type = "text" id = "play_title" placeholder = "Title" name="title">
                <p>Genre</p>
                <input type = "text" id = "play_title" placeholder = "Genre" name="genre">
                <p>Publisher</p>
                <input type = "text" id = "play_title" placeholder = "Publisher" name="publisher">
                <p>Developer</p>
                <input type = "text" id = "play_title" placeholder = "Developer" name="developer">
                <p>Date Released</p>
                <input type = "date" id = "play_title" placeholder = "2020" name="year">
                <p>Description</p>
                <textarea name="description" rows="4" cols="43"></textarea>
                <br><button id = "submit">Submit</button>
              </form>
              <br>
            </div>
          </div>
        </div> 
      </div>

</div>
</div>

	<script src = "/js/database.js"></script>
</body>
</html>
